<div id="home-header">
	<h1>Homepage</h1>
	<h3>Search for Recipes through Spoonacular!</h3>
</div>

<div id="search-form">
	<form  id="recipe-form" action="/search" method="get">
		<input id='recipe-search' type="text" name="recipe-name" placeholder="enter food name">
		<input type="submit" value="Search">
	</form>
</div>

<div id="results">
	<div id="search-recipes-results"></div>
	<div id="search-recipe-ingredients"></div>
</div>

<div id="search-recipe-result"></div>