// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main-wrapper {
	background-color: rgba(229, 128, 4, 0.7);
	height: 500px;
	position: fixed;
	top:100px;
	margin-left: 12%;
	width: 80%;
}

#home-header {
	align-items: center;
	display: flex;
	justify-content: space-around;
}

#search-form {
	margin-left: 20%;
}

#results {
	display: flex;
	flex: row;
	width: 100%;

	#search-recipes-results {
		margin: 0;
		width: 50%;
	}

	#search-recipe-ingredients {
		float: right;
	}
}