<header>
	<div>
		<%= image_tag('hamburger-menu.png', class: 'menu-icon') %>
	</div>
	<div>
		<%= image_tag('logo.png', class: 'logo') %>
	</div>
	<div>
		<ul>
			<li>Register</li>
			<li>Login</li>
		</ul>
	</div>
</header>